@model IEnumerable<WebApplication1.Models.Aluno>

@{
    ViewBag.Title = "Listar";
}



<h2>Listar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @{
                    var status = item.Status;
                    var cor = status == "Aprovado" ? "#4CAF50" : "#F44336"; 
                    var corFundo = status == "Aprovado" ? "rgba(76, 175, 80, 0.1)" : "rgba(244, 67, 54, 0.1)";
                }

                <span style="
                display: inline-flex;
                align-items: center;
                padding: 4px 10px;
                border-radius: 20px;
                background-color: @corFundo;
                color: @cor;
                font-weight: 600;
                font-size: 14px;
                ">
                <span style="
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: @cor;
                margin-right: 6px;
                "></span>

                @status
                </span>
            </td>

            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Exibir", "Exibir", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
